---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import '@styles/global.css'
import background from '../assets/background.svg'
import { getCollection } from 'astro:content'

const allNews = await getCollection('news')

---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead />
    </head>
    <body
        class="font-serif font-normal leading-normal text-gray-800 font-sm md:font-base text-pretty"
    >
        <div id="site-wrapper" class="flex flex-col md:flex-row min-h-screen">
            <!-- Skip to main conetnt -->
            <a
                href="#main-content"
                class="underline absolute left-[50%] h-8 p-2 -translate-y-full duration-300 ease-in-out focus:translate-y-0"
            >
                Jump to main content
            </a>

            <Header />

            <main id="main-content" class="mx-4">
                <!-- Blurry background -->
                <img
                    id="background"
                    class="fixed top-0 left-0 h-full w-full z-[-1] blur-[100px]"
                    src={background.src}
                    alt=""
                    fetchpriority="high"
                />

                <!-- About Me -->
                <section id="about" class="mb-8 px-4">
                    <h2 class="text-2xl pb-2">About Me</h2>
                    <p>I'm a Ph.D. student at...</p>
                </section>

                <!-- Research Interests -->
                <section id="research-interests" class="mb-8 px-4">
                    <h2 class="text-2xl pb-2">Research Interests</h2>
                    <ul class="list-disc">
                        <li>
                            <strong>Computer Vision:</strong> image recognition, image generation, video
                            captioning
                        </li>
                        <li>
                            <strong>Machine Learning:</strong> meta-learning, incremental learning, transfer
                            learning
                        </li>
                    </ul>
                </section>

                <!-- News -->
                <section id="news" class="mb-8 px-4">
                    <h2 class="text-2xl pb-2">News</h2>
                    <dl class="divide-y divide-gray-700">
                        {allNews.map(({ data: news }) => (
                            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                <dt class="text-sm/6 font-medium text-gray-90">{news.date}</dt>
                                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                                    {news.href ? (<a href={news.href} target="_blank">{news.title}</a>) : (<Fragment>{news.title}</Fragment>)}
                                </dd>
                            </div>
                        ))}
                    </dl>
                </section>

                <!-- Publications -->
                <section id="publications" class="mb-8 px-4">
                    <h2 class="text-2xl pb-2">Publications</h2>
                </section>
            </main>
        </div>
    </body>
</html>
