---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import config from '@config'

import '@styles/global.css'

import background from '../assets/background.svg'
import teaser from '../assets/teaser_example-2.png'
import teaser2 from '../assets/teaser_example_2-2.png'

const allNews = await getCollection('news')
const allTalks = await getCollection('talks')

---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead />
    </head>
    <body
        class="font-serif font-normal leading-normal text-gray-800 font-sm md:font-base text-pretty"
    >
        <div id="site-wrapper" class="flex flex-col lg:flex-row min-h-screen">
            <!-- Skip to main content -->
            <!-- <a
                href="#main-content"
                class="underline absolute left-[50%] h-8 p-2 -translate-y-full duration-300 ease-in-out focus:translate-y-0"
            >
                Jump to main content
            </a> -->

            <Header />

            <main id="main-content" class="flex-2 mx-4 lg:mt-8">
                <!-- Blurry background -->
                <img
                    id="background"
                    class="fixed top-0 left-0 h-full w-full z-[-1] blur-[100px]"
                    src={background.src}
                    alt=""
                    fetchpriority="high"
                />

                <!-- About Me -->
                <section id="about" class="mb-8 px-4">
                    <h2 class="text-2xl pb-2">About Me</h2>
                    <div class="w-32 h-px bg-gray-300 mb-4"></div>
                    <p>Hey there! I'm a researcher at the Computer Vision & Graphics group of Fraunhofer HHI in Berlin.</p>
                    <p>My interests are in understanding and reconstructing the world around us. I'm fascinated by strategies to compact higher dimensional spaces into lower ones, and competitive learning strategies.</p>
                </section>

                <!-- News -->
                <section id="news" class="mb-8 px-4">
                    <h2 class="text-2xl pb-2">News</h2>
                    <div class="w-20 h-px bg-gray-300 mb-4"></div>
                    <ul class="list-disc ms-4">
                        {allNews.map(({ data: news }) => (
                            <li class="mb-2">
                                <span class="font-medium text-gray-900">{news.date}</span> - {" "}
                                {news.href ? (
                                    <a href={news.href} target="_blank" 
                                       set:html={news.title.replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>')} />
                                ) : (
                                    <Fragment set:html={news.title.replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>')} />
                                )}
                            </li>
                        ))}
                    </ul>
                </section>

                <!-- Publications -->
                <section id="publications" class="mb-8 px-4">
                    <h2 class="text-2xl pb-2">Projects & Publications</h2>
                    <div class="w-70 h-px bg-gray-300 mb-4"></div>
                    <ul>
                        <li>
                            <article class="flex flex-row gap-4 mb-4">
                                <figure class="relative flex-3">
                                    <Image class="shadow rounded" src={teaser} alt="Continual Learning for Abdominal Multi-Organ and Tumor Segmentation" />
                                    <figcaption class="text-xs text-gray-700">Continual Learning for Abdominal Multi-Organ and Tumor Segmentation</figcaption>
                                    <span class="absolute top-1 left-0 text-xs bg-blue-900 text-white p-1 shadow">MICCAI</span>
                                </figure>
                                <div class="flex-6">
                                    <h3 class="text-blue-950 font-bold mb-2"><a href="assets/pdf/2306.00988v2.pdf">Continual Learning for Abdominal Multi-Organ and Tumor Segmentation</a></h3>
                                    <span class="authors mb-2">Yixiao Zhang, Xinyi Li, Huimiao Chen, Alan Yuille, <strong>Yaoyao Liu*</strong>, Zongwei Zhou* (*Corresponding authors)</span>
                                    <span class="conference italic mb-2">International Conference on Medical Image Computing and Computer-Assisted Intervention <strong>(MICCAI)</strong>, 2023.</span>
                                    <ul class="tags my-4 flex flex-row text-xs">
                                        <li class="text-nowrap p-1 mb-2 me-2">
                                            <a href="assets/pdf/2306.00988v2.pdf" class="border p-1 rounded bg-white hover:bg-blue-100 shadow hover:shadow-lg" target="_blank">PDF</a>
                                        </li>
                                        <li class="text-nowrap p-1 mb-2 me-2">
                                            <a href="https://github.com/MrGiovanni/ContinualLearning" class="border p-1 rounded bg-white hover:bg-blue-100 shadow hover:shadow-lg" target="_blank">Code</a>
                                        </li>
                                        <li class="text-nowrap p-1 mb-2 me-2">
                                            <a href="https://bib.yliu.me/MICCAI23.txt" class="border p-1 rounded bg-white hover:bg-blue-100 shadow hover:shadow-lg" target="_blank">BibTex</a>
                                        </li>
                                        <li class="text-nowrap italic font-bold text-red-600">Early Accept</li>
                                    </ul>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article class="flex flex-row gap-4 mb-4">
                                <figure class="relative flex-3">
                                    <Image class="shadow rounded" src={teaser} alt="Mnemonics Training: Multi-Class Incremental Learning without Forgetting" />
                                    <figcaption class="text-xs text-gray-700">Mnemonics Training: Multi-Class Incremental Learning without Forgetting</figcaption>
                                    <span class="absolute top-1 left-0 text-xs bg-blue-900 text-white p-1 shadow">CVPR</span>
                                </figure>
                                <div class="flex-6">
                                    <h3 class="text-blue-950 font-bold mb-2"><a href="assets/pdf/2002.10211v6.pdf">Mnemonics Training: Multi-Class Incremental Learning without Forgetting</a></h3>
                                    <span class="authors mb-2"><strong>Yaoyao Liu</strong>, Yuting Su, An-An Liu, Bernt Schiele, Qianru Sun</span>
                                    <span class="conference italic mb-2">IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)<strong>, 2020</strong>.</span>
                                    <ul class="tags my-4 flex flex-row text-xs">
                                        <li class="text-nowrap p-1 mb-2 me-2">
                                            <a href="assets/pdf/2002.10211v6.pdf" class="border p-1 rounded bg-white hover:bg-blue-100 shadow hover:shadow-lg" target="_blank">PDF</a>
                                        </li>
                                        <li class="text-nowrap p-1 mb-2 me-2">
                                            <a href="https://github.com/yaoyao-liu/class-incremental-learning/tree/main/mnemonics-training" class="border p-1 rounded bg-white hover:bg-blue-100 shadow hover:shadow-lg" target="_blank">Code</a>
                                        </li>
                                        <li class="text-nowrap p-1 mb-2 me-2">
                                            <a href="https://class-il.mpi-inf.mpg.de/mnemonics/" class="border p-1 rounded bg-white hover:bg-blue-100 shadow hover:shadow-lg" target="_blank">Project Page</a>
                                        </li>
                                        <li class="text-nowrap p-1 mb-2 me-2">
                                            <a href="https://class-il.mpi-inf.mpg.de/mnemonics/" class="border p-1 rounded bg-white hover:bg-blue-100 shadow hover:shadow-lg" target="_blank">BibTex</a>
                                        </li>
                                        <li class="text-nowrap italic font-bold text-red-600">Oral Presentation</li>
                                    </ul>
                                </div>
                            </article>
                        </li>
                    </ul>
                </section>

                <!-- Talks -->
                <section id="talks" class="mb-8 px-4">
                    <h2 class="text-2xl pb-2">Talks</h2>
                    <div class="w-22 h-px bg-gray-300 mb-4"></div>
                    <ul>
                        {allTalks.map(({ data: talk }) => (
                            <li>
                                <article class="flex flex-row gap-4 mb-4">
                                    <figure class="relative flex-3">
                                        <a href={`https://www.youtube.com/watch?v=${talk.videoId}`} target="_blank">
                                            <img class="shadow rounded" 
                                                 src={`https://i.ytimg.com/vi/${talk.videoId}/hqdefault.jpg`} 
                                                 alt={talk.title} />
                                        </a>
                                        {talk.type === 'Podcast' ? (
                                            <span class="absolute top-1 left-0 text-xs bg-red-700 text-white p-1 shadow">{talk.type}</span>
                                        ) : (
                                            <span class="absolute top-1 left-0 text-xs bg-green-700 text-white p-1 shadow">{talk.type}</span>
                                        )}
                                    </figure>
                                    <div class="flex-6">
                                        <h3 class="text-blue-950 font-bold mb-2">
                                            <a href={`https://www.youtube.com/watch?v=${talk.videoId}`} target="_blank">{talk.title}</a>
                                        </h3>
                                        <p class="mb-2" set:html={talk.description} />
                                        <ul class="tags my-4 flex flex-row text-xs">
                                            <li class="text-nowrap p-1 mb-2 me-2">
                                                <a href={`https://www.youtube.com/watch?v=${talk.videoId}`} class="border p-1 rounded bg-white hover:bg-blue-100 shadow hover:shadow-lg" target="_blank">Watch on YouTube</a>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            </li>
                        ))}
                    </ul>
                </section>

                <!-- Services
                <section id="services" class="mb-8 px-4">
                    <h2 class="text-2xl mb-2">Services</h2>
                    <div class="w-32 h-px bg-gray-300 mb-4"></div>

                    <h3 class="font-bold text-blue-950 mb-2">Conference Reviews</h3>
                    <ul class="list-disc ms-4">
                        <li><a href="http://cvpr2023.thecvf.com/" target="_blank">IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR) 2021-2023</a></li>
                        <li><a href="http://iccv2021.thecvf.com/" target="_blank">IEEE/CVF International Conference on Computer Vision (ICCV) 2021</a></li>
                        <li><a href="https://eccv2022.ecva.net/" target="_blank">European Conference on Computer Vision (ECCV) 2022</a></li>
                    </ul>
                    
                    <h3 class="font-bold text-blue-950 mb-2">Journal Reviews</h3>
                    <ul class="list-disc ms-4">
                        <li><a href="https://www.computer.org/csdl/journal/tp" target="_blank">IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</a></li>
                        <li><a href="https://www.springer.com/journal/11263" target="_blank">International Journal of Computer Vision (IJCV)</a></li>
                    </ul>
                </section> -->

                <footer class="w-full text-center my-8">
                    <p class="copyright text-xs text-gray-400">©️ {new Date().getFullYear()} {config.author} - Powered by <a class="underline hover:text-gray-600" href="https://github.com/mplabs/ghpages-with-astro" target="_blank">GitHub Pages with Astro</a>.</p>
                </footer>
            </main>

        </div>
    </body>
</html>
