---
import Icon from '@components/Icon.astro'
import config from '@config'
import { Image } from 'astro:assets'
import avatarImage from '../assets/img/avatar.png'
---

<header id="profile-header" class="flex-1 flex flex-col items-center mx-4 pb-4 lg:pt-[15vh]">
    <div class="flex justify-center w-full mb-4">
        <Image class="rounded-full" src={avatarImage} height={250} alt={config.title} loading="eager" />
    </div>
    <h1 class="mb-4 text-center">
        <span class="block text-4xl">{config.title}</span>
    </h1>
    
    <!-- Combined position and affiliation with better formatting -->
    <div class="text-center mb-3">
        <span class="block text-xl">{config.position}</span>
        <span class="block text-xl">at <a href={config.affiliation_url} target="_blank">{config.affiliation}</a></span>
    </div>
        
    <!-- Horizontal line before icons -->
    <div class="w-70 h-px bg-gray-300 my-4"></div>
    
    <!-- Social / profile links -->
    <div class="flex flex-row lg:flex-col items-center lg:items-start">
        {
            config.links &&
                config.links.map((link: (typeof config.link)[0]) => (
                    <a
                        class="flex items-center me-4 last-of-type:me-0 lg:me-0 lg:mb-2"
                        href={link.href}
                        target="_blank"
                    >
                        <Icon icon={link.icon} class="w-6 h-6 shrink-0" title={link.title} />
                        <span class="sr-only">{link.title}</span>
                        <span class="hidden lg:inline ms-2">{link.title}</span>
                    </a>
                ))
        }
    </div>
    <div class="w-70 h-px bg-gray-300 my-4"></div>
    <a class="mb-2" href={`mailto:${config.email}`}>{config.email}</a>


</header>
